$font-type: 'Pacifico', cursive;

.all {
    width: 100%;
    height: 100%;
    background-color: blue;
    background-image: url("../assets/beach.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100%;

    #mainSection {
        padding: 20px;
        text-align: center;

        /*border-width: 1px;
        border-style: solid;
        border-color: red;
        border-radius: 30px;*/

        width: 45%;
        height: 40%;
        //background-color: #e0e0eb;
        position: absolute;
        top: 15%;
        left: 27.5%;


        h1 {
            font-family: $font-type;
            color: white;
            font-size: 100px;
        }

        input {
            margin-top: 50px;
            padding: 20px;
        }
    }
}
