@import 'component.scss';
@import url('https://fonts.googleapis.com/css?family=Pacifico');


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ded5f9;

    #app {
        width: 100%;
        height: 100%;
    }
}